<footer id="page-footer">
  <p>
    Copyright &copy; 2014
    <%= link_to 'Playball! A Minor League Stadium Review Site','http://playball.com' %>
  </p>
  <p>
    For entertainment purposes only.
  </p>
</footer>

