<aside id="sidebar">
  <nav>
    <ul>
      <li class="all-stadiums">
        <%= link_to 'All Stadiums', stadiums_path, class: 'button' %>
      </li>
      <li class="create-stadium">
        <%= link_to 'Add New Stadium', new_stadium_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>